astroid
autopep8
beautifulsoup4
blinker
certifi
chardet
click
colorama
comtypes
docopt
Flask
Flask-Mail
Flask-SQLAlchemy
httpserver
idna
isort
itsdangerous
Jinja2
Js2Py
lazy-object-proxy
MarkupSafe
mccabe
MouseInfo
mysqlclient
numpy
opencv-python
packaging
Pillow
pipwin
playsound
plyer
psycopg2
PyAutoGUI
pycodestyle

PyGetWindow
pyjsparser
pylint
PyMsgBox
PyMySQL
pyparsing
pyperclip
PyPrind
PyRect
PyScreeze
pySmartDL
pyttsx3
PyTweening
pytz
gunicorn
requests
six
soupsieve
SpeechRecognition
SQLAlchemy
toml
typed-ast
tzlocal
urllib3
Werkzeug
wikipedia
wrapt
